.imageFaderWrapper
	position: relative
	max-width: 100%
	margin: auto
	overflow: hidden
	&.style
		padding-top: 150%
		// min-height: 80vh
		.bgImg
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			opacity: 0
			animation: bgAnime 20s infinite ///* 4画像 × 各5s = 20s */
			background-size: contain
			background-repeat: no-repeat
			///* --- 段差で背景画像のアニメーションを実行 ----------------- */
			&.src1
				// background-image: url(../img/style1.jpg) ///* 背景の画像を指定 */
			&.src2
				// background-image: url(../img/style2.jpg) ///* 背景の画像を指定 */
				animation-delay: 5s
			&.src3
				// background-image: url(../img/style3.jpg) ///* 背景の画像を指定 */
				animation-delay: 10s
			&.src4
				// background-image: url(../img/style4.jpg) ///* 背景の画像を指定 */
				animation-delay: 15s

	&.image
		height: 50vh
		.bgImg
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			opacity: 0
			animation: bgAnime 16s infinite ///* 4画像 × 各4s = 16s */
			background-size: contain
			///* --- 段差で背景画像のアニメーションを実行 ----------------- */
			&.src1
				background-image: url(../img/roomSoap.jpg) ///* 背景の画像を指定 */
				background-repeat: no-repeat
			&.src2
				background-image: url(../img/roomCampChair.jpg) ///* 背景の画像を指定 */
				background-repeat: no-repeat
				animation-delay: 4s
			&.src3
				background-image: url(../img/roomAudio1.jpg) ///* 背景の画像を指定 */
				background-repeat: no-repeat
				animation-delay: 8s
			&.src4
				background-image: url(../img/roomAll.jpg)///* 背景の画像を指定 */
				background-repeat: no-repeat
				animation-delay: 12s






@keyframes bgAnime
	0%
		opacity: 0
	5%
		opacity: 1
	25%
		opacity: 1
	30%
		opacity: 0
	100%
		opacity: 0 


// // ///* --- 前面の文字定義（サンプルのため変更してください） ----- */
// // .boxString
// // position : absolute
// // display: inline-block
// // padding: 20px
// // background : rgba(0, 127, 255, 0.7)/* 半透明の青 */
// // color: #fff
// // top: 50% /* 中央寄せ */
// // left : 50%
// // transform: translate(-50%,-50%)
// // z-index: 11
