$main-color: #333
$sub-color: #f0f0f0
// $main-font: 'Roboto', sans-serif, 'Hiragino Kaku Gothic Pro', 'メイリオ',　Meiryo, 'M PLUS 1p'  
//////$main-font: 'Roboto', sans-serif, 'Noto Sans JP', sans-serif
//////$main-font: "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif
$main-font: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif
$img_path: '../img/'


// ちなみに baycrews.jpのフォントファミリー
// Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
// "Hiragino Kaku Gothic Pro", Meiryo, sans-serif






html, body 
	height: 100%
	width: 100%

html
	scroll-behavior: smooth

body
	font: 16px/1.6 $main-font
	margin: 0
	color: $main-color
	background-color: $sub-color

section
	height: 100vh
	padding: 0 1em
	&.heroSection
		padding: 0
	&.longSection
		height: 160vh
	&.menuAndPriceSection
		margin-top: 10em

h1,h2,h3,h4,h5,h6
	// font-family: 'Roboto', 'Noto Sans JP', sans-serif
	font-weight: 500

a
	color: #fff
	text-decoration: none
	-webkit-transition: all 0.5s
	-moz-transition: all 0.5s
	transition: all 0.5s
	&:hover
		color: #F5A862
		-webkit-transition: all 0.5s
		-moz-transition: all 0.5s
		transition: all 0.5s
	// &:visited
	// 	color: #000


address
	font-style: normal

img
	outline: none
	border-style: none
	width: 100%

ul
	padding: 0

li
	list-style: none

menu
	padding: 0

iframe
	// google Map 向け
	width: 100%

.dotWrapper
	display: flex
	width: 100%
	height: 100vh
	background: black
	z-index: 1
	position: absolute
	justify-content: center
	align-items: center
	&.hidden
		display: none

.w90c
	margin: 0 auto
	width: 90%

.scrollToTopArea
	position: fixed
	width: 2em
	height: 2em
	bottom: 2em
	right: 2em
	z-index: 1
	.js-smooth-scroll
		width: 3em
		height: 3em
		#toTop
			// background: green
			opacity: 0
			visibility: hidden//デフォルトは隠しとく、
			// transform: translateY(40px)
			transition: all 1s
			&.isShown
				// isShownクラスが付与されたときだけ見せる
				opacity: 1
				visibility: visible
				// transform: translateY(0px)





.logoWrapper
	display: flex
	align-items: center
	margin: 0 auto
	padding: .5em
	.raiponiaTree
		height: 1.4em
		width: auto
		// h1.raiponia
		// 	margin: 0
		// img.raiponiaLogoText
		// 	width: 2.2em

.lineTelWrapper
	position: absolute
	right: 7%
	top: 30%
	display: flex
	.lineLogo
		width: 1.8em
	.telLogo
		width: 1.8em
		margin-left: 10%

.m0
	margin: 0

.topImage
	height: 100vh
	background: url(#{$img_path}topImage-min.jpg) 0 0 no-repeat
	background-size: cover
	filter: grayscale(100) ///* モノクロにする */
	transition: filter 0.5s  // モノクロ→カラーへのディレイ時間  
	&.color
		filter: grayscale(0)///* モノクロを解除する */






.concept
	h2
		padding-top: 25%

.info
	.date
		margin: 0
		font-weight: 700
		font-family: 'M PLUS 1p'
	.text
		margin-top: .1em
		margin-bottom: 1em
		font-weight: 300

.roomImage
	margin-bottom: 20%

.menuWrapper
	margin-top: 1em
	border: 1px groove
	.menuAndPrice
		width: 60%
		margin: 0 auto
		li
			display: flex
			justify-content: space-between
			.price:after
				color: transparent
				content: "~"
			.price.nyoro:after
				color: $main-color
	.moreInfoWrapper
		display: flex
		justify-content: flex-end
		.moreInfo
			background: #888
			padding: .5em
			margin: 0 .5em .5em 0

.style
	.moreInfoWrapper
		display: flex
		justify-content: flex-end
		.moreInfo
			background: #888
			padding: .5em
			margin: .5em 0



.reservation
	.text
		font-size: .95em

.telAndLine
	display: flex
	margin: 0 auto
	width: 90%
	align-items: center
	.tel,
	.line
		padding: 1em .5em
		text-align: center
		width: 50%
		color: #eee
	.tel
		background-color: #888
	.line
		background-color: #6FCF97
		font-size: 105%
		margin-left: .5em

.googlemaps iframe,
.googlemaps object,
.googlemaps embed
	-webkit-filter: grayscale(100%)
	-moz-filter: grayscale(100%)
	-ms-filter: grayscale(100%)
	-o-filter: grayscale(100%)
	filter: grayscale(100%)

.shopinfo
	.heading
		margin: 0
		font-weight: bold
		font-family: 'M PLUS 1p'
	.text
		margin-top: .1em
		margin-bottom: 1em
		font-size: .8em
		&.m0
			margin-bottom: 0

.stylist
	.imageWrappter
		margin: 0 auto
		width: 50%
	.name
		text-align: center
	.kanji
		font-size: 1.1em
	.alpha
		font-size: .8em
	.text
		font-size: .9em
		margin-bottom: 2.5em


.favorites
	h6
		margin-bottom: 0
	ul
		margin-top: 0
		display: flex
		li
			margin-left: .5em
			&:first-of-type
				margin-left: 0
	

.footer
	position: relative
	color: #E0E0E0
	height: 75vh
	background-color: #222
	ul
		padding: .5em 1em
		display: flex
		li
			width: 25%
			font-size: .5em
			text-align: center
			// margin-left: 1em
			// &:after
			// 	content: "|"
			&:last-of-type:after
				content: ""
			&:first-of-type
				margin-left: 0
			&+li
				border-left: 1px solid #fff
				// border-spacing: 20px 100px
				// padding-left: 10%
		
	.runder
		padding: .5em 2em
		background-color: #fff
		margin: 1em
		text-align: center
		width: 18em
		img
			height: 3em
			width: auto
	.rcc
		padding: .2em
		background-color: #fff
		width: 18em
		margin-left: 1em
		img
			// width: 17em

	.infoWrapper
		position: absolute
		bottom: 0
		padding: 0 0 1em 1em
		.shopInfo
			margin-bottom: 0
			font-size: .5em
		.copyright
			margin: 0
			small
				font-size: .5em


section.video
	width: 100%
	height: 65vh
	position: relative
	overflow: hidden
	.videoWrapper
		margin-top: 7em
		video
			width: 100%
			height: auto
			background: url(../video/videobg.png) no-repeat
			background-size: cover
			z-index: -1
			margin: 0 auto			
	.bg-white
		background: rgba(255, 255, 255, .75)
		position: absolute
		top: 30px
		left: 30px
		padding: 20px


// ふわっとエフェクト
.fadein
	opacity: 0
	visibility: hidden
	transform: translateY(40px)
	transition: all 1s
	&.is-show
		opacity: 1
		visibility: visible
		transform: translateY(0px)
