html, body {
  height: 100%;
  width: 100%;
}

body {
  font: 16px/1.6 "Roboto", sans-serif, "M PLUS 1p", "Noto Sans JP", sans-serif;
  margin: 0;
  color: #333;
  background-color: #f0f0f0;
}

section {
  height: 100vh;
  padding: 0 1em;
}

section.heroSection {
  padding: 0;
}

section.longSection {
  height: 150vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: #F5A862;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:visited {
  color: #000;
}

address {
  font-style: normal;
}

img {
  outline: none;
  border-style: none;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

menu {
  padding: 0;
}

iframe {
  width: 100%;
}

.logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: .5em;
}

.logoWrapper .raiponiaTree {
  width: 2.2em;
}

.logoWrapper h1.raiponia {
  margin: 0;
}

.logoWrapper img.raiponiaLogoText {
  width: 2.2em;
}

.lineTelWrapper {
  position: absolute;
  right: 7%;
  top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lineTelWrapper .lineLogo {
  width: 1.8em;
  margin-top: .5em;
}

.lineTelWrapper .telLogo {
  width: 1.8em;
  margin-top: .5em;
  margin-left: 10%;
}

.m0 {
  margin: 0;
}

.topImage {
  height: 100vh;
  background: url(../img/topImage.jpg) 0 0 no-repeat;
  background-size: cover;
}

.concept h2 {
  padding-top: 25%;
}

.info .date {
  margin: 0;
  font-weight: bold;
  font-family: 'M PLUS 1p (general-j) Thin';
}

.info .text {
  margin-top: .1em;
  margin-bottom: 1em;
}

.roomImage {
  margin-bottom: 20%;
}

.reservation .text {
  font-size: .95em;
}

.telAndLine .tel {
  background-color: #888;
  color: #eee;
  padding: 1em 1.5em;
  display: inline-block;
}

.telAndLine .line {
  background-color: #6FCF97;
  color: #eee;
  padding: 1em 1.5em;
  display: inline-block;
  width: 10rem;
  text-align: center;
  font-size: 105%;
  font-weight: bold;
}

.googlemaps iframe,
.googlemaps object,
.googlemaps embed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.shopinfo .heading {
  margin: 0;
  font-weight: bold;
  font-family: 'M PLUS 1p (general-j) Thin';
}

.shopinfo .text {
  margin-top: .1em;
  margin-bottom: 1em;
  font-size: .8em;
}

.shopinfo .text.m0 {
  margin-bottom: 0;
}

.stylist .imageWrappter {
  margin: 0 auto;
  width: 50%;
}

.stylist .name {
  text-align: center;
}

.stylist .kanji {
  font-size: 1.1em;
}

.stylist .alpha {
  font-size: .8em;
}

.stylist .text {
  font-size: .9em;
  margin-bottom: 2.5em;
}

.favorites h6 {
  margin-bottom: 0;
}

.favorites ul {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favorites ul li {
  margin-left: .5em;
}

.favorites ul li:first-of-type {
  margin-left: 0;
}

.footer {
  position: relative;
  color: #E0E0E0;
  height: 75vh;
  background-color: #222;
}

.footer ul {
  padding: .5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li {
  width: 25%;
  font-size: .5em;
  text-align: center;
}

.footer ul li:last-of-type:after {
  content: "";
}

.footer ul li:first-of-type {
  margin-left: 0;
}

.footer ul li + li {
  border-left: 1px solid #fff;
}

.footer .runder {
  padding: .5em 2em;
  background-color: #fff;
  margin: 1em;
  text-align: center;
  width: 18em;
}

.footer .runder img {
  height: 3em;
  width: auto;
}

.footer .rcc {
  padding: .2em;
  background-color: #fff;
  width: 18em;
  margin-left: 1em;
}

.footer .shopInfo {
  position: absolute;
  font-size: .5em;
  left: 2em;
  bottom: 4em;
}

.footer .copyright small {
  position: absolute;
  left: 10em;
  bottom: 10em;
  font-size: .1em;
}

section.video {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden;
}

section.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: url("./video/bg.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

section.video .bg-white {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */